/* Colors */
.bg-prussian{
    background: #003153;
}
.bg-purple{
    background: #93385FFF;
}
.bg-lilac{
    background: #9F6B99FF;
}
.bg-petunia{
    background: #4F3466FF;
}
.bg-gleam{
    background: #301728FF;
}
.bg-deepblue
{
    background: #2460A7FF;
}
.bg-coffee{
    background: #D9B48FFF;
}
.bg-wine{
    background: #643E46FF;
}
/* For All Pages */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
    font-family: "Poppins";
    font-size: 13px;
    line-height: 23px;
}
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
}

/* Banner image style */
.banner-images{
    height:100vh;
    object-fit:cover;
}
/* Tablist ul li  */
#workshoptabs{
    padding: 4vh;
}
.listParent li{
    margin-top: 2vh;
}
.listParent li i{
    margin-right: .5vw;
}
/* hr Lines */
.hrline
{
    padding: 0;margin: 0;
    border: 1px solid cyan;
    margin-top: 5vh;
}
/* features cards  */
.card{
    /* border: 1px solid red; */
    /* position: absolute; */
    /* float: left; */
    width: 14vw;
    height:38vh;
    display: inline-block;
    margin-left:1vw;/*margin-bottom: 0px !important;This is overriden by bootstrap so important is added.*/
    text-align: left;
    overflow: hidden;
    font-size: 14px;
}
.card-img-top{
    height: 22vh;
}
.arrow1,.arrow2{
    border: 20px solid white;
    height: 10px;width:10px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    position: relative;
    left:9vw;
    top:-6vh;
    display:none;
}
.infobox1,.infobox2{
    width: 75vw;margin-left: 3.5vw;
    text-align: left;margin-top:-6vh;
    border-radius: 1vw;margin-bottom: 2vh;
    display: none;
}
.card-infobox{
    display: none;
}
.responsive-infobox{
    display: none;
}
.responsive-arrow{
    display: none;
}

/* Footer */
.footer-menu{
    text-align: justify;
    color: white;
    width: 30%;display: inline-block;margin-left: 2vw;
    font-size: 13px;
    font-weight: 450;
}
.footer-menu li::before {
	list-style-type: none;
    content: "\f138";
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 1vw;
}
.footer-menu li{
    padding: .5vw;
}
.contactlist li{
    margin: 2vh;
}

/* okayNav Style */

* { box-sizing:border-box }
*:before, *:after { box-sizing:inherit }

/* Basic styles */
html {
  font-size: 62.5%;
}
a { text-decoration: none }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    margin-top: 10rem;
    text-align: center;
}
/* Header styles */
header {
    -webkit-align-items: center;
    -ms-flex-align: center;
    z-index: 5;
    align-items: center;
    background-color: transparent;
    /* border: 1px solid red; */
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 7rem;
    padding: 0 15px;
    position: fixed;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 3vh;
    width: 100%
}

.site-logo {
    transition: color 200ms cubic-bezier(.55, 0, .1, 1);
    color: #30acff;
    font-size: 3rem;
}

.ok-header__logo:hover {color: #546edb}

/* okayNav styles */
body.okayNav-loaded {
  overflow-x: hidden;
}
.okayNav:not(.loaded) {
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.okayNav ul {
  /* We want two navigations - one hidden and one visible */
  float: left;
}
.okayNav a {
  /* Links general styling */
  color: #2e2e33;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.okayNav__nav--visible {
  overflow: hidden;
  white-space: nowrap;
}
.okayNav__nav--visible li {
  display: inline-block;
}
.okayNav__nav--visible a {
  /* Link styling for the visible part of the nav */
  display: block;
  transition: color 200ms cubic-bezier(0.55, 0, 0.1, 1);
  padding: 15px 15px;
}
.okayNav__nav--visible a:hover {
  color: #546edb;
}
/* Link styling for the off-screen part of the nav */
.okayNav__nav--invisible {
  position: fixed;
  top: 70px;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
}
.okayNav__nav--invisible a {
  background: #fff;
  width: 240px;
  display: block;
  padding: 15px;
}
.okayNav__nav--invisible.nav-left {
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.okayNav__nav--invisible.nav-right {
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.okayNav__nav--invisible.transition-enabled {
  transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
}
.okayNav__nav--invisible.nav-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/* Kebab icon */
.okayNav__menu-toggle {
  position: relative;
  transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  cursor: pointer;
  width: 40px;
  height: 20px;
  float: left;
  z-index: 1;
  top: 15px;
}
.okayNav__menu-toggle.okay-invisible {
  position: absolute;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.okayNav__menu-toggle span {
  display: block;
  position: absolute;
  margin: auto;
  height: 4px;
  width: 4px;
  background: #2e2e33;
  border-radius: 50%;
  left: 0;
  right: 0;
  pointer-events: none;
}
.okayNav__menu-toggle span:nth-child(1) {
  top: 0;
}
.okayNav__menu-toggle span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.okayNav__menu-toggle span:nth-child(3) {
  bottom: 0;
}
.okayNav__menu-toggle.icon--active {
  /* Kebab icon when off-screen nav is open */
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.okayNav__menu-toggle.icon--active span {
  background: #546edb;
}

/* Top Div */
.top-icons{
    float: right;
    margin-right: 1vw !important;
}
.top-contact{
    float: left;
    margin-left: 3vw;
}
.top-links a{
    color: white;
}
.top-links a:hover{
    text-decoration: none;
}
